{% extends "base.html.twig" %}

{% block body %}
	<h1>{{ material.name }}</h1>
	<p>Description :
		{% if material.description %}
			{{ material.description }}
		{% else %}
			<i>Aucune</i>
		{% endif %}
	</p>
	<h2>Fournisseur :
		{{ material.supplier.name }}</h2>
	<h2>Ce matériau est utilisé pour</h2>
	<ul>
		{% for f in material.furniture %}
			<li>{{ f.name }}</li>
		{% endfor %}
	</ul>
{% endblock %}
