{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ supplier.name }}</h1>
    <h2>Productions</h2>
    <ul>
        {% for material in supplier.materials %}
            <li>{{ material.name }}</li>
        {% endfor %}
    </ul>
    <a href="{{ path('supplier_edit', {id: supplier.id}) }}">Editer ce fournisseur</a>
{% endblock %}
