{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ furniture.name }}</h1>
    <p>Nombre de création : {{ furniture.craftNumber }}</p>
<<<<<<< HEAD
    <h2>Catégorie : {{ furniture.category.name }}</h2>
    <h2>Matériaux</h2>
    <ul>
    {% for material in furniture.material %}
        <li>{{ material.name }}</li>
    {% endfor %}
    </ul>
=======
    <h2>Catégories</h2>
>>>>>>> 97870952466b42666431233ed721f7aa6c85a642
{% endblock %}
